.button {
  padding: 10px 16px;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.primary {
  background-color: var(--background-container-primary, #ab0000);
}

.secondary {
  background-color: var(--background-container-secondary, #57ee00);
}
